In [1]:
import pandas as pd

In [2]:
pr=pd.read_csv("RAW SSA.csv")
pr

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249636,49,0,Self_Employed,Tier_1,13391.174891,0.000000,2206.490129,6658.768341,2636.970696,...,6200.537192,11265.627707,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.596592,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,...,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.605084,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,...,7050.360422,13891.450624,1466.073984,473.549752,410.857129,459.965256,488.383423,7.290892,106.653597,138.542422
3,101455.600247,21,0,Self_Employed,Tier_3,15218.340037,6809.441427,4889.418087,14690.149363,7106.130005,...,16694.965136,31617.953615,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.283548,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,...,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,40913.466178,51,4,Self_Employed,Tier_1,12274.039853,7703.854895,1646.799940,5477.403246,2084.230191,...,1163.318310,1163.318310,597.028412,287.315050,347.658355,145.843671,212.833325,44.900294,98.765527,190.591917
19996,90295.772638,21,1,Student,Tier_2,18059.154528,0.000000,2770.589626,13118.222419,4633.108332,...,10613.589598,30725.175170,3854.823822,359.602765,911.269461,424.064224,1555.548024,129.655981,239.445622,351.436046
19997,40604.567373,30,1,Professional,Tier_2,8120.913475,8089.612716,1548.564328,6018.276121,2493.563674,...,2267.905134,2267.905134,1385.511100,379.927216,138.209465,297.695658,824.565267,57.891000,72.728663,122.569277
19998,118157.817240,27,2,Professional,Tier_1,35447.345172,12345.910538,4735.672471,16392.438426,8248.242279,...,10603.684814,10603.684814,3217.771594,2265.865033,726.247719,273.912367,859.230004,98.961780,92.189012,569.811212
19999,8209.249769,62,3,Professional,Tier_1,2462.774931,1120.881704,276.376556,969.916908,460.435438,...,531.044006,860.350559,261.160294,124.057428,25.940556,35.238134,94.909265,1.685026,4.837574,12.766302

In [3]:
pr.dtypes

Income                             float64
Age                                  int64
Dependents                           int64
Occupation                          object
City_Tier                           object
Rent                               float64
Loan_Repayment                     float64
Insurance                          float64
Groceries                          float64
Transport                          float64
Eating_Out                         float64
Entertainment                      float64
Utilities                          float64
Healthcare                         float64
Education                          float64
Miscellaneous                      float64
Desired_Savings_Percentage         float64
Desired_Savings                    float64
Disposable_Income                  float64
Potential_Savings_Groceries        float64
Potential_Savings_Transport        float64
Potential_Savings_Eating_Out       float64
Potential_Savings_Entertainment    float64
Potential_Savings_Utilities        float64
Potential_Savings_Healthcare       float64
Potential_Savings_Education        float64
Potential_Savings_Miscellaneous    float64
dtype: object

In [4]:
pr.shape

(20000, 27)

In [5]:
pr.columns

Index(['Income', 'Age', 'Dependents', 'Occupation', 'City_Tier', 'Rent',
       'Loan_Repayment', 'Insurance', 'Groceries', 'Transport', 'Eating_Out',
       'Entertainment', 'Utilities', 'Healthcare', 'Education',
       'Miscellaneous', 'Desired_Savings_Percentage', 'Desired_Savings',
       'Disposable_Income', 'Potential_Savings_Groceries',
       'Potential_Savings_Transport', 'Potential_Savings_Eating_Out',
       'Potential_Savings_Entertainment', 'Potential_Savings_Utilities',
       'Potential_Savings_Healthcare', 'Potential_Savings_Education',
       'Potential_Savings_Miscellaneous'],
      dtype='object')

In [6]:
pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Income                           20000 non-null  float64
 1   Age                              20000 non-null  int64
 2   Dependents                       20000 non-null  int64
 3   Occupation                       20000 non-null  object
 4   City_Tier                        20000 non-null  object
 5   Rent                             20000 non-null  float64
 6   Loan_Repayment                   20000 non-null  float64
 7   Insurance                        20000 non-null  float64
 8   Groceries                        20000 non-null  float64
 9   Transport                        20000 non-null  float64
 10  Eating_Out                       20000 non-null  float64
 11  Entertainment                    20000 non-null  float64
 12  Utilities                        20000 non-null  float64
 13  Healthcare                       20000 non-null  float64
 14  Education                        20000 non-null  float64
 15  Miscellaneous                    20000 non-null  float64
 16  Desired_Savings_Percentage       20000 non-null  float64
 17  Desired_Savings                  20000 non-null  float64
 18  Disposable_Income                20000 non-null  float64
 19  Potential_Savings_Groceries      20000 non-null  float64
 20  Potential_Savings_Transport      20000 non-null  float64
 21  Potential_Savings_Eating_Out     20000 non-null  float64
 22  Potential_Savings_Entertainment  20000 non-null  float64
 23  Potential_Savings_Utilities      20000 non-null  float64
 24  Potential_Savings_Healthcare     20000 non-null  float64
 25  Potential_Savings_Education      20000 non-null  float64
 26  Potential_Savings_Miscellaneous  20000 non-null  float64
dtypes: float64(23), int64(2), object(2)
memory usage: 4.1+ MB

In [7]:
pr.isnull()

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
missing_counts=pr.isnull().sum()
missing_counts

Income                             0
Age                                0
Dependents                         0
Occupation                         0
City_Tier                          0
Rent                               0
Loan_Repayment                     0
Insurance                          0
Groceries                          0
Transport                          0
Eating_Out                         0
Entertainment                      0
Utilities                          0
Healthcare                         0
Education                          0
Miscellaneous                      0
Desired_Savings_Percentage         0
Desired_Savings                    0
Disposable_Income                  0
Potential_Savings_Groceries        0
Potential_Savings_Transport        0
Potential_Savings_Eating_Out       0
Potential_Savings_Entertainment    0
Potential_Savings_Utilities        0
Potential_Savings_Healthcare       0
Potential_Savings_Education        0
Potential_Savings_Miscellaneous    0
dtype: int64

In [9]:
pr.dropna()

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249636,49,0,Self_Employed,Tier_1,13391.174891,0.000000,2206.490129,6658.768341,2636.970696,...,6200.537192,11265.627707,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.596592,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,...,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.605084,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,...,7050.360422,13891.450624,1466.073984,473.549752,410.857129,459.965256,488.383423,7.290892,106.653597,138.542422
3,101455.600247,21,0,Self_Employed,Tier_3,15218.340037,6809.441427,4889.418087,14690.149363,7106.130005,...,16694.965136,31617.953615,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.283548,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,...,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,40913.466178,51,4,Self_Employed,Tier_1,12274.039853,7703.854895,1646.799940,5477.403246,2084.230191,...,1163.318310,1163.318310,597.028412,287.315050,347.658355,145.843671,212.833325,44.900294,98.765527,190.591917
19996,90295.772638,21,1,Student,Tier_2,18059.154528,0.000000,2770.589626,13118.222419,4633.108332,...,10613.589598,30725.175170,3854.823822,359.602765,911.269461,424.064224,1555.548024,129.655981,239.445622,351.436046
19997,40604.567373,30,1,Professional,Tier_2,8120.913475,8089.612716,1548.564328,6018.276121,2493.563674,...,2267.905134,2267.905134,1385.511100,379.927216,138.209465,297.695658,824.565267,57.891000,72.728663,122.569277
19998,118157.817240,27,2,Professional,Tier_1,35447.345172,12345.910538,4735.672471,16392.438426,8248.242279,...,10603.684814,10603.684814,3217.771594,2265.865033,726.247719,273.912367,859.230004,98.961780,92.189012,569.811212
19999,8209.249769,62,3,Professional,Tier_1,2462.774931,1120.881704,276.376556,969.916908,460.435438,...,531.044006,860.350559,261.160294,124.057428,25.940556,35.238134,94.909265,1.685026,4.837574,12.766302

In [10]:
pr["Rent"]=pr["Rent"].round(2)
pr["Loan_Repayment"]=pr["Loan_Repayment"].round(2)
pr["Insurance"]=pr["Insurance"].round(2)
pr["Groceries"]=pr["Groceries"].round(2)
pr["Transport"]=pr["Transport"].round(2)
pr["Eating_Out"]=pr["Eating_Out"].round(2)
pr["Entertainment"]=pr["Entertainment"].round(2)
pr["Utilities"]=pr["Utilities"].round(2)
pr["Healthcare"]=pr["Healthcare"].round(2)
pr["Education"]=pr["Education"].round(2)
pr["Miscellaneous"]=pr["Miscellaneous"].round(2)
pr["Desired_Savings_Percentage"]=pr["Desired_Savings_Percentage"].round(2)
pr["Desired_Savings"]=pr["Desired_Savings"].round(2)
pr["Disposable_Income"]=pr["Disposable_Income"].round(2)
pr["Potential_Savings_Groceries"]=pr["Potential_Savings_Groceries"].round(2)
pr["Potential_Savings_Transport"]=pr["Potential_Savings_Transport"].round(2)
pr["Potential_Savings_Eating_Out"]=pr["Potential_Savings_Eating_Out"].round(2)
pr["Potential_Savings_Entertainment"]=pr["Potential_Savings_Entertainment"].round(2)
pr[['Potential_Savings_Utilities',"Potential_Savings_Healthcare", "Potential_Savings_Education", 'Potential_Savings_Miscellaneous']]=pr[['Potential_Savings_Utilities',"Potential_Savings_Healthcare", "Potential_Savings_Education", 'Potential_Savings_Miscellaneous']].round(2)
pr

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249636,49,0,Self_Employed,Tier_1,13391.17,0.00,2206.49,6658.77,2636.97,...,6200.54,11265.63,1685.70,328.90,465.77,195.15,678.29,67.68,0.00,85.74
1,26858.596592,34,2,Retired,Tier_2,5371.72,0.00,869.52,2818.44,1543.02,...,1923.18,9676.82,540.31,119.35,141.87,234.13,286.67,6.60,56.31,97.39
2,50367.605084,35,1,Student,Tier_3,7555.14,4612.10,2201.80,6313.22,3221.40,...,7050.36,13891.45,1466.07,473.55,410.86,459.97,488.38,7.29,106.65,138.54
3,101455.600247,21,0,Self_Employed,Tier_3,15218.34,6809.44,4889.42,14690.15,7106.13,...,16694.97,31617.95,1875.93,762.02,1241.02,320.19,1389.82,193.50,0.00,296.04
4,24875.283548,52,4,Professional,Tier_2,4975.06,3112.61,635.91,3034.33,1276.16,...,1874.10,6265.70,788.95,68.16,61.71,187.17,194.12,47.29,67.39,96.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,40913.466178,51,4,Self_Employed,Tier_1,12274.04,7703.85,1646.80,5477.40,2084.23,...,1163.32,1163.32,597.03,287.32,347.66,145.84,212.83,44.90,98.77,190.59
19996,90295.772638,21,1,Student,Tier_2,18059.15,0.00,2770.59,13118.22,4633.11,...,10613.59,30725.18,3854.82,359.60,911.27,424.06,1555.55,129.66,239.45,351.44
19997,40604.567373,30,1,Professional,Tier_2,8120.91,8089.61,1548.56,6018.28,2493.56,...,2267.91,2267.91,1385.51,379.93,138.21,297.70,824.57,57.89,72.73,122.57
19998,118157.817240,27,2,Professional,Tier_1,35447.35,12345.91,4735.67,16392.44,8248.24,...,10603.68,10603.68,3217.77,2265.87,726.25,273.91,859.23,98.96,92.19,569.81
19999,8209.249769,62,3,Professional,Tier_1,2462.77,1120.88,276.38,969.92,460.44,...,531.04,860.35,261.16,124.06,25.94,35.24,94.91,1.69,4.84,12.77

In [11]:
duplicates=pr.duplicated()
pr.drop_duplicates(keep='first', inplace=True)
duplicates

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Length: 20000, dtype: bool

In [12]:
pr.describe()

,Income,Age,Dependents,Rent,Loan_Repayment,Insurance,Groceries,Transport,Eating_Out,Entertainment,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
count,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,4.158550e+04,41.031450,1.995950,9115.494612,2049.800309,1455.028773,5205.667462,2704.466705,1461.857015,1448.853619,...,4982.878372,10647.367251,912.197165,473.042712,254.963283,254.031034,436.332798,41.524955,62.417083,144.905011
std,4.001454e+04,13.578725,1.417616,9254.228143,4281.789945,1492.938439,5035.953675,2666.345630,1481.660832,1489.019290,...,7733.468198,11740.637285,1038.884948,537.222859,296.047926,299.973595,503.200673,53.152421,98.842633,169.160958
min,1.301187e+03,18.000000,0.000000,235.370000,0.000000,30.000000,154.080000,81.230000,39.440000,45.420000,...,0.000000,-5400.790000,16.580000,8.270000,3.800000,3.120000,6.200000,0.000000,0.000000,2.090000
25%,1.760488e+04,29.000000,1.000000,3649.422500,0.000000,580.202500,2165.425000,1124.582500,581.012500,581.635000,...,1224.932500,3774.897500,317.812500,161.917500,84.507500,84.560000,148.010000,11.040000,4.930000,47.640000
50%,3.018538e+04,41.000000,2.000000,6402.750000,0.000000,1017.125000,3741.090000,1933.845000,1029.110000,1020.200000,...,2155.355000,7224.890000,607.035000,307.050000,164.925000,164.740000,285.740000,25.200000,33.125000,93.090000
75%,5.176545e+04,53.000000,3.000000,11263.942500,2627.145000,1787.160000,6470.895000,3360.600000,1807.077500,1790.107500,...,6216.307500,13331.950000,1128.680000,588.417500,313.395000,310.925000,538.985000,52.352500,80.945000,178.260000
max,1.079728e+06,64.000000,4.000000,215945.670000,123080.680000,38734.930000,119816.900000,81861.500000,34406.100000,38667.370000,...,245504.490000,377060.220000,34894.640000,12273.260000,5573.040000,6222.200000,8081.800000,1394.530000,3647.240000,4637.950000

In [13]:
pr = pr.rename(columns={'Loan_Repayment':'Loan Repayment', 'Eating_Out':'Eating Out', 'Desired_Savings_Percentage':'Desired Savings Percentage', 'Desired_Savings':'Desired Savings', 'Disposable_Income':'Disposable Income', 'Potential_Savings_Groceries':'Potential Savings Groceries', 'potential_savings_transport':'Potential Savings Transport', 'Potential_Savings_Eating_Out':'Potential Savings Eating Out', 'Potential_Savings_Entertainment':'Potential Savings Entertainment', 'Potential_Savings_Utilities':'Potential Savings Utilities', 'Potential_Savings_Healthcare':'Potential Savings Healthcare', 'Potential_Savings_Education':'Potential Savings Education', 'Potential_Savings_Miscellaneous':'Potential Savings Miscellaneous', 'Potential_Savings_Transport':'Potential Savings Transport'})

In [14]:
pr

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan Repayment,Insurance,Groceries,Transport,...,Desired Savings,Disposable Income,Potential Savings Groceries,Potential Savings Transport,Potential Savings Eating Out,Potential Savings Entertainment,Potential Savings Utilities,Potential Savings Healthcare,Potential Savings Education,Potential Savings Miscellaneous
0,44637.249636,49,0,Self_Employed,Tier_1,13391.17,0.00,2206.49,6658.77,2636.97,...,6200.54,11265.63,1685.70,328.90,465.77,195.15,678.29,67.68,0.00,85.74
1,26858.596592,34,2,Retired,Tier_2,5371.72,0.00,869.52,2818.44,1543.02,...,1923.18,9676.82,540.31,119.35,141.87,234.13,286.67,6.60,56.31,97.39
2,50367.605084,35,1,Student,Tier_3,7555.14,4612.10,2201.80,6313.22,3221.40,...,7050.36,13891.45,1466.07,473.55,410.86,459.97,488.38,7.29,106.65,138.54
3,101455.600247,21,0,Self_Employed,Tier_3,15218.34,6809.44,4889.42,14690.15,7106.13,...,16694.97,31617.95,1875.93,762.02,1241.02,320.19,1389.82,193.50,0.00,296.04
4,24875.283548,52,4,Professional,Tier_2,4975.06,3112.61,635.91,3034.33,1276.16,...,1874.10,6265.70,788.95,68.16,61.71,187.17,194.12,47.29,67.39,96.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,40913.466178,51,4,Self_Employed,Tier_1,12274.04,7703.85,1646.80,5477.40,2084.23,...,1163.32,1163.32,597.03,287.32,347.66,145.84,212.83,44.90,98.77,190.59
19996,90295.772638,21,1,Student,Tier_2,18059.15,0.00,2770.59,13118.22,4633.11,...,10613.59,30725.18,3854.82,359.60,911.27,424.06,1555.55,129.66,239.45,351.44
19997,40604.567373,30,1,Professional,Tier_2,8120.91,8089.61,1548.56,6018.28,2493.56,...,2267.91,2267.91,1385.51,379.93,138.21,297.70,824.57,57.89,72.73,122.57
19998,118157.817240,27,2,Professional,Tier_1,35447.35,12345.91,4735.67,16392.44,8248.24,...,10603.68,10603.68,3217.77,2265.87,726.25,273.91,859.23,98.96,92.19,569.81
19999,8209.249769,62,3,Professional,Tier_1,2462.77,1120.88,276.38,969.92,460.44,...,531.04,860.35,261.16,124.06,25.94,35.24,94.91,1.69,4.84,12.77

In [15]:
unique_values= pr["Occupation"].unique()
unique_values

array(['Self_Employed', 'Retired', 'Student', 'Professional'],
      dtype=object)

In [16]:
rows_to_delete=pr[(pr[['Disposable Income', 'Age', 'Dependents', 'Rent', 'Loan Repayment','Insurance', 'Groceries', 'Transport', 'Eating Out', 'Entertainment', 'Utilities', 'Healthcare', 'Education', 'Miscellaneous', 'Desired Savings Percentage', 'Desired Savings', 'Potential Savings Groceries', 'Potential Savings Transport', 'Potential Savings Eating Out', 'Potential Savings Entertainment', 'Potential Savings Utilities', 'Potential Savings Healthcare', 'Potential Savings Education', 'Potential Savings Miscellaneous']]<0).any(axis=1)]

In [17]:
pr.drop(rows_to_delete.index, inplace=True)
pr.drop(["Dependents", "City_Tier", 'Disposable Income'], inplace=True, axis=1)

In [18]:
pr.sort_values(["Occupation", 'Age'], ascending=[True, True], inplace=True)

In [19]:
pr

,Income,Age,Occupation,Rent,Loan Repayment,Insurance,Groceries,Transport,Eating Out,Entertainment,...,Desired Savings Percentage,Desired Savings,Potential Savings Groceries,Potential Savings Transport,Potential Savings Eating Out,Potential Savings Entertainment,Potential Savings Utilities,Potential Savings Healthcare,Potential Savings Education,Potential Savings Miscellaneous
430,11641.666143,18,Professional,2328.33,1856.65,265.26,1220.76,865.28,487.69,513.35,...,8.14,947.15,263.12,68.26,140.02,66.49,205.47,14.59,37.23,23.95
722,10202.665850,18,Professional,1530.40,1715.52,435.91,1148.72,789.47,350.16,409.87,...,7.43,757.87,85.25,227.38,85.21,108.50,175.40,15.18,17.74,38.01
939,19104.701891,18,Professional,3820.94,3758.04,490.34,2407.68,1080.76,653.94,635.70,...,8.36,1596.59,635.45,292.22,183.67,117.18,73.10,2.50,84.45,102.09
987,60526.858830,18,Professional,12105.37,4674.52,2669.02,7474.36,3265.03,2963.23,2684.41,...,11.08,6704.88,2217.95,822.67,598.85,677.39,412.54,41.28,215.46,327.33
1056,29392.928696,18,Professional,8817.88,4139.83,1214.40,3694.59,1512.05,1116.58,849.88,...,7.74,2211.67,635.83,189.02,321.68,207.30,524.74,17.55,91.25,163.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19628,14824.406818,64,Student,2964.88,2618.63,426.69,1734.07,834.80,343.34,571.10,...,5.11,757.20,386.60,43.21,57.75,62.77,149.13,8.91,0.82,48.85
19770,11727.234564,64,Student,2345.45,780.58,320.06,1521.00,655.62,285.31,569.35,...,7.43,871.31,158.91,91.83,84.94,89.38,159.77,18.97,9.37,83.67
19948,43517.654140,64,Student,13055.30,6301.39,1828.63,5945.64,2226.21,1563.60,1118.04,...,10.08,2950.18,1190.62,499.19,323.83,221.47,222.15,4.48,40.56,93.23
19979,39000.469871,64,Student,7800.09,0.00,883.87,3927.55,2601.74,1476.43,1415.93,...,5.06,1972.92,988.14,762.73,143.33,123.44,398.18,10.46,112.67,220.08
19992,61085.128305,64,Student,12217.03,0.00,2963.08,8560.11,3910.76,3039.56,2430.39,...,10.51,6422.81,1796.72,329.18,626.17,634.47,547.17,145.37,67.82,112.04

In [20]:
pr["Savings"]= (pr["Income"] - pr["Rent"] - pr["Loan Repayment"] - pr["Insurance"] - pr["Groceries"] - pr["Transport"] - pr["Eating Out"] - pr["Entertainment"] - pr["Utilities"] - pr["Healthcare"] - pr["Education"] - pr["Miscellaneous"]).round(2)

In [21]:
pr["Savings Percentage"] = ((pr["Savings"] / pr["Income"]) * 100).round(2)
pr

,Income,Age,Occupation,Rent,Loan Repayment,Insurance,Groceries,Transport,Eating Out,Entertainment,...,Potential Savings Groceries,Potential Savings Transport,Potential Savings Eating Out,Potential Savings Entertainment,Potential Savings Utilities,Potential Savings Healthcare,Potential Savings Education,Potential Savings Miscellaneous,Savings,Savings Percentage
430,11641.666143,18,Professional,2328.33,1856.65,265.26,1220.76,865.28,487.69,513.35,...,263.12,68.26,140.02,66.49,205.47,14.59,37.23,23.95,1881.83,16.16
722,10202.665850,18,Professional,1530.40,1715.52,435.91,1148.72,789.47,350.16,409.87,...,85.25,227.38,85.21,108.50,175.40,15.18,17.74,38.01,1911.63,18.74
939,19104.701891,18,Professional,3820.94,3758.04,490.34,2407.68,1080.76,653.94,635.70,...,635.45,292.22,183.67,117.18,73.10,2.50,84.45,102.09,2537.15,13.28
987,60526.858830,18,Professional,12105.37,4674.52,2669.02,7474.36,3265.03,2963.23,2684.41,...,2217.95,822.67,598.85,677.39,412.54,41.28,215.46,327.33,11010.70,18.19
1056,29392.928696,18,Professional,8817.88,4139.83,1214.40,3694.59,1512.05,1116.58,849.88,...,635.83,189.02,321.68,207.30,524.74,17.55,91.25,163.74,2211.66,7.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19628,14824.406818,64,Student,2964.88,2618.63,426.69,1734.07,834.80,343.34,571.10,...,386.60,43.21,57.75,62.77,149.13,8.91,0.82,48.85,2246.71,15.16
19770,11727.234564,64,Student,2345.45,780.58,320.06,1521.00,655.62,285.31,569.35,...,158.91,91.83,84.94,89.38,159.77,18.97,9.37,83.67,2447.82,20.87
19948,43517.654140,64,Student,13055.30,6301.39,1828.63,5945.64,2226.21,1563.60,1118.04,...,1190.62,499.19,323.83,221.47,222.15,4.48,40.56,93.23,2950.18,6.78
19979,39000.469871,64,Student,7800.09,0.00,883.87,3927.55,2601.74,1476.43,1415.93,...,988.14,762.73,143.33,123.44,398.18,10.46,112.67,220.08,13777.89,35.33
19992,61085.128305,64,Student,12217.03,0.00,2963.08,8560.11,3910.76,3039.56,2430.39,...,1796.72,329.18,626.17,634.47,547.17,145.37,67.82,112.04,16765.81,27.45

In [22]:
pr['Income ID'] = range(1, len(pr) + 1)
pr.set_index('Income ID', inplace=True)

In [23]:
pr

,Income,Age,Occupation,Rent,Loan Repayment,Insurance,Groceries,Transport,Eating Out,Entertainment,...,Potential Savings Groceries,Potential Savings Transport,Potential Savings Eating Out,Potential Savings Entertainment,Potential Savings Utilities,Potential Savings Healthcare,Potential Savings Education,Potential Savings Miscellaneous,Savings,Savings Percentage
Income ID,,,,,,,,,,,,,,,,,,,,,
1,11641.666143,18,Professional,2328.33,1856.65,265.26,1220.76,865.28,487.69,513.35,...,263.12,68.26,140.02,66.49,205.47,14.59,37.23,23.95,1881.83,16.16
2,10202.665850,18,Professional,1530.40,1715.52,435.91,1148.72,789.47,350.16,409.87,...,85.25,227.38,85.21,108.50,175.40,15.18,17.74,38.01,1911.63,18.74
3,19104.701891,18,Professional,3820.94,3758.04,490.34,2407.68,1080.76,653.94,635.70,...,635.45,292.22,183.67,117.18,73.10,2.50,84.45,102.09,2537.15,13.28
4,60526.858830,18,Professional,12105.37,4674.52,2669.02,7474.36,3265.03,2963.23,2684.41,...,2217.95,822.67,598.85,677.39,412.54,41.28,215.46,327.33,11010.70,18.19
5,29392.928696,18,Professional,8817.88,4139.83,1214.40,3694.59,1512.05,1116.58,849.88,...,635.83,189.02,321.68,207.30,524.74,17.55,91.25,163.74,2211.66,7.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19884,14824.406818,64,Student,2964.88,2618.63,426.69,1734.07,834.80,343.34,571.10,...,386.60,43.21,57.75,62.77,149.13,8.91,0.82,48.85,2246.71,15.16
19885,11727.234564,64,Student,2345.45,780.58,320.06,1521.00,655.62,285.31,569.35,...,158.91,91.83,84.94,89.38,159.77,18.97,9.37,83.67,2447.82,20.87
19886,43517.654140,64,Student,13055.30,6301.39,1828.63,5945.64,2226.21,1563.60,1118.04,...,1190.62,499.19,323.83,221.47,222.15,4.48,40.56,93.23,2950.18,6.78
19887,39000.469871,64,Student,7800.09,0.00,883.87,3927.55,2601.74,1476.43,1415.93,...,988.14,762.73,143.33,123.44,398.18,10.46,112.67,220.08,13777.89,35.33
19888,61085.128305,64,Student,12217.03,0.00,2963.08,8560.11,3910.76,3039.56,2430.39,...,1796.72,329.18,626.17,634.47,547.17,145.37,67.82,112.04,16765.81,27.45

In [24]:
#pr.to_excel("SSA3.xlsx")